---
- name: Créer répertoires GLPI
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: www-data
    group: www-data
    mode: "0755"
  loop:
    - /var/www/glpi
    - /etc/glpi
    - /var/lib/glpi
    - /var/log/glpi

- name: Télécharger GLPI
  ansible.builtin.get_url:
    url: "https://github.com/glpi-project/glpi/releases/download/{{ glpi_version }}/glpi-{{ glpi_version }}.tgz"
    dest: /tmp/glpi.tgz
    mode: "0644"

- name: Décompresser GLPI dans /var/www/glpi
  ansible.builtin.unarchive:
    src: /tmp/glpi.tgz
    dest: /var/www/glpi
    remote_src: yes
    extra_opts: [ "--strip-components=1" ]

- name: Appliquer les droits www-data sur /var/www/glpi
  ansible.builtin.file:
    path: /var/www/glpi
    state: directory
    recurse: true
    owner: www-data
    group: www-data
    mode: "0755"

- name: Créer les répertoires externes GLPI (config, var, logs)
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: www-data
    group: www-data
    mode: "0755"
  loop:
    - "{{ glpi_config_dir }}"
    - "{{ glpi_var_dir }}"
    - "{{ glpi_log_dir }}"

- name: Déplacer le répertoire config vers /etc/glpi
  ansible.builtin.command: >
    mv {{ glpi_root_dir }}/config {{ glpi_config_dir }}
  args:
    creates: "{{ glpi_config_dir }}/config"
  notify: Restart Apache

- name: Déplacer le répertoire files vers /var/lib/glpi
  ansible.builtin.command: >
    mv {{ glpi_root_dir }}/files {{ glpi_var_dir }}
  args:
    creates: "{{ glpi_var_dir }}/files"

- name: Ajuster les droits sur les répertoires externes GLPI
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    recurse: true
    owner: www-data
    group: www-data
    mode: "0755"
  loop:
    - "{{ glpi_config_dir }}"
    - "{{ glpi_var_dir }}"
    - "{{ glpi_log_dir }}"

- name: Créer le fichier downstream.php pour déclarer les chemins
  ansible.builtin.copy:
    dest: "{{ glpi_root_dir }}/inc/downstream.php"
    owner: www-data
    group: www-data
    mode: "0644"
    content: |
      <?php
      define('GLPI_CONFIG_DIR', '{{ glpi_config_dir }}/');
      define('GLPI_VAR_DIR', '{{ glpi_var_dir }}/files');
      define('GLPI_LOG_DIR', '{{ glpi_log_dir }}');

      if (file_exists(GLPI_CONFIG_DIR . '/local_define.php')) {
          require_once GLPI_CONFIG_DIR . '/local_define.php';
      }
