- name: Créer l’utilisateur système tapirx
  ansible.builtin.user:
    name: "{{ tapirx_user }}"
    system: true
    shell: /usr/sbin/nologin
    create_home: false

- name: Installer build-essential et libpcap-dev (prérequis TapirX)
  ansible.builtin.apt:
    name:
      - build-essential
      - libpcap-dev
    state: present
    update_cache: yes

- name: Installer TapirX via go install
  ansible.builtin.command: >
    go install {{ tapirx_module }}
  environment:
    GOPATH: "/root/go"
    GOBIN: "/usr/local/bin"
    PATH: "/usr/local/go/bin:/usr/bin:/bin"
  changed_when: true

- name: Définir les permissions sur le binaire TapirX
  ansible.builtin.file:
    path: "{{ tapirx_binary }}"
    owner: "{{ tapirx_user }}"
    group: "{{ tapirx_user }}"
    mode: "0755"

- name: Déployer le service systemd TapirX
  ansible.builtin.template:
    src: tapirx.service.j2
    dest: /etc/systemd/system/tapirx.service
    owner: root
    group: root
    mode: "0644"
  notify:
    - Daemon reload
    - Restart tapirx

- name: Activer et démarrer TapirX
  ansible.builtin.service:
    name: tapirx
    state: started
    enabled: true
